.add-product-box{
    width: 50%;
    border: 1px solid black;
    margin: 0 auto;
}
.add-product{
    margin: 0 auto;
}
.add-product label,input{
    display: block;
}
.sanpham img{
    width: 100%;
    height: 300px;
}
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  /* .show {
      width: 30%;
      border:1px solid black;
      margin: 20px 0px;
      padding:10px;

      display: inline-block;
      text-align: center;
  }
  .sanpham {
    width: 30%;
    border: 1px solid black;
    margin: 20px 16px;
    padding: 10px;
    text-align: center;
    display: none;
} */
/* .sanpham .ten-sp{
    font-size: 10px;
    font-weight: bold;
} */
.sanpham .button-btn{
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #4ab0f3;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
}
.show .button-btn:hover{
    color: white;
}
.sanpham .gia-sp{
    text-decoration: line-through;
    font-size:15px;
}
.sanpham .gia{
    display: flex;
    justify-content: space-between;
}
.sanpham .giamgia{
    font-size: 15px;
    color: red;
}
.sanpham .button-btn:hover{
    background: black;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    color: #333;
}
.menu ul{
    list-style: none;
    background: #1f568B;
    text-align: center;
}
.menu ul li{
    color: #f1f1f1;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.menu ul li a{
    color: #f1f1f1;
    text-decoration: none;
    display: block;
}
.menu ul li a:hover{
    background: #f1f1f1;
    color: #333;
}
.menu ul li >.sub-menu{
    display: none;
    position: absolute;
}
.menu ul li:hover >.sub-menu{
    display: block;
}
#logout-btn{
    background: #3498db;
    border: none;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}
#products{
    display: flex;
    justify-content: center;
    align-content: center;
}
.products-content{
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:20px;

}
.products-content .sanpham{
    width: 100%;
    position: relative;
    background: #ddd;
}
.products-content .sanpham .hinhanhsp{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}
.products-content .sanpham .hinhanhsp img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.products-content .sanpham:hover .hinhanhsp img{
    transform: scale(1.5);
}
.products-content .sanpham .ten-sp{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.content-middle{
    width: 100%;
}
.content-title{
    text-align: center;
    width: 100%;
    height: 50px;
}
.content-title h1{
    font-size: 30px;
    line-height: 50px;
}
.themmoisanpham{
    width: 50%;
    border: 1px solid #333;
    margin: 20px auto;
    padding: 30px;
}
.themmoisanpham label,input{
    width: 100%;
    display: block;
}
.themmoisanpham label{
    margin-top:30px;
}
.themmoisanpham input{
    margin-top: 5px;
    padding:10px 20px;
    border:1px solid #ddd;
    border-radius: 5px;
}
.themmoisanpham button{
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    border:1px solid #ddd;
    border-radius: 5px;
    background-color: orangered;
    color: black;
}
.information table tbody td {
    margin: 0 10px;
    padding: 0 20px;
    border: 1px solid black;
}
.information table tbody td img{
    width: 100px;
}
table#receive {
    text-align: center;
}
.themmoisanpham button:hover{
    font-size: 20px;
}


.giohang table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

/* .giohang table tr th,td{
    border: 1px solid #333;
} */

td#hinhanh img {
    width: 70px;
}
.giohang {
    position: fixed;
    border-radius: 10px;
    right: 20px;
    top: 110px;
    background: white;
    padding: 10px;
}
.giohang{
    position: fixed;
    border-radius: 10px;
    right: 20px;
    top: 110px;
    background: white;
    padding: 10px;
}
#cart-menu{
    display: none;
}
#cart-menu button {
    float: right;
    margin: 10px 0;
}
.size-quantity{
    display: flex;
    justify-content: space-between;
}
#cart-menu {
    height: auto;
    font-size: 16px;
    width: 400px;
    right: 0;
    top: 0;
    border: 1px solid #333;
    margin: 68px auto;
    position: fixed;
    text-align: center;
    background: #fff;
    padding-top: 30px;
    transition: 0.3s;
}
.content .pagination{
    width: 100%;
    float: left;
    text-align: center;
    margin: 20px;
}
.content .pagination div{
    display: inline-block;
}
.content .pagination .page{
    color: gray;
}
.content  .pagination .prev, .content .pagination .next, .content .pagination .page{
    color: #000;
    border: 1px solid #000;
    font-size: 15px;
    cursor: pointer;
    padding: 8px 15px;

}
.content  .pagination .prev:hover, .content .pagination .next:hover{
    background: #1f568B;
    color: white;
}
.content  .pagination .prev.disabled, .content .pagination .next.disabled{
    border-color: gray;
    color: gray;
    pointer-events: none;
}
.products-content .sanpham.hide{
    display: none;
}
.products-content .sanpham.show{
    display: block;
}
@keyframes show {
    0%{
        opacity:0;
        transform: scale(0.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.footer-container{
    max-width: 1170px;
    margin: auto;
}
.footer {
    border-top:#3498db 4px solid;
    clear: both;
    padding: 70px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: bold;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    background-color: #e91e63;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #333;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    padding-left: 8px;
    color: green;
}
.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    background-color: gray;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.footer-col .social-link a:hover{
    background-color: #3498db;
}
@media (max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

}
@media (max-width:574px){
    .footer-col{
        width: 100%;
    }
}
.cart-noitem {
    font-size: 27px;
    text-align: center;
    line-height: 109px;
}
#my-bill{
    width: 100%;
}
